{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Sirius{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
    <!--FontAwesome-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-sirius-main">
      <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{{page_icon|default:'http://i.minus.com/ifu4PFiSLwp0h.png'}}" alt="Page icon" class="sirius-page-icon" />
            <span>{{page_section|default:'Sirius'}}</span>
          </a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{% url 'list-issues' %}">Issues</a></li>
            <li><a href="{% url 'list-articles' %}">Articles</a></li>
            <li><a href="{% url 'list-squiggles' %}">Squiggles</a></li>
            <li><a href="/sample/">Sample Copy</a></li>
          </ul>
          <p class="navbar-text navbar-right">You cannot sign in.</p>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




    
    <div class="container container-main">
      <div class="row">
        <div id="content" class="col-md-12">{% block content %}

        <header class="header">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
              {% if csquig %}
                <a href="{{csquig.get_absolute_url}}" title="{% if csquig.picture.caption %}'{{csquig.picture.caption}}'{% else %}Squiggle{% endif %} for {{csquig.event1}} ({{csquig.date1|date:'d M Y'}}){% if csquig.event2 %} and {{csquig.event2}} ({{csquig.date1|date:'d M Y'}}){% endif %}">
              {% endif %}
                <img src="{% if csquig %}{{csquig.picture.get_absolute_url}}{% else %}http://i.minus.com/ib1bo4hxwVLupQ.png {% endif %}" alt="Sirius" class="img-responsive">
              {% if csquig %}</a>{% endif %}
            </div>
            <nav class="col-md-5 col-sm-5 hidden-xs">
              <ul class="nav nav-sirius-main nav-stacked" style="list-style: disc url('/static/list-arrow.gif') inside;">
                <li class="big"><a href="/">Sirius Online (beta)</a></li>
                <li><a href="{% url 'list-articles' %}"><span class="fa fa-play"> </span> Articles</a></li>
                <li><a href="{% url 'list-squiggles' %}"><span class="fa fa-play"> </span> Squiggles</a></li>
                <li><a href="/sample/"><span class="fa fa-play"> </span> Sample Copy</a></li>
                <li><span class="text">You are not signed in</span></li>
              </ul>
            </nav>
          </div>
        </header>
        
        <div class="jumbotron">
          <p>Welcome to the Sirius website!<br>
          This website is not fully complete yet, but feel free to look around at what <em>is</em> complete.<br>
          If you want, you can see a sample copy of Sirius</p>
          <p><a href="/sample/" class="btn btn-lg btn-default">View sample copy</a> <a href="/article/" class="btn btn-lg btn-primary">Article list</a></p>
        </div>
        {% endblock %}</div>
        <!--<div class="col-lg-4 sirius-sidebar">
          {% include "squiggle/widget_upcoming_squiggles.htm" %}
        </div>-->
      </div>
      <hr>
      <footer class="footer">
        &copy; Sirius 2013
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//my.sssnet.tk/static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-
  </body>
</html>
